################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NoDurabilityPlus/bin
/NoDurabilityPlus/obj/Debug
*.suo
*.rmod
